# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log

# build
dist
build

# OS files
.DS_Store
Thumbs.db

# Vite
.vite

# IDE
.vscode

client/node_modules
server/node_modules
client/dist


server/config/firebase-service-account.json